
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 3em;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.welcome {
  height: 328px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}
.margin { margin: 20px 0; }
.center { text-align: center; }
:global{
	.chatpop {  }
	.send {
		position:relative;
		font-size:14px;
		line-height: 18px;
		min-height:40px;
		background:#fff;
		border-radius:5px; /* 圆角 */
		word-wrap:break-word;
		word-break:break-all; 
		padding: 10px;
		font-weight: 800;
	}
	.right { float:right; background:#00cc00; }
	.left { float:left; }
	.right:after{  
	    position:absolute;  
	    content:"\00a0";  
	    display:inline-block;  
	    width:0px;  
	    height:0px;  
	    border-width:3px;  
	    border-style:solid;  
	    border-color:transparent transparent transparent #00cc00;  
	    right:-6px;  
	    top:16px;                       
	 }
	 .left:before{  
	    position:absolute;  
	    content:"\00a0";  
	    display:inline-block;  
	    width:0px;  
	    height:0px;  
	    border-width:3px 3px 3px 3px;  
	    border-style:solid;  
	    border-color:transparent #fff transparent transparent;  
	    left:-6px;  
	    top:16px;                       
	 }
	 .chat { position: fixed; width: 100%; max-width: 680px; top: 0; bottom: 50px; background: #eaeaea; }
	 .chatcontent { overflow: hidden; }
	 .chatlist { overflow-y: scroll; }

}